.cart__dropdown {
    position: absolute;
    right: 0;
    top: 30%;
    width: 300px; /* O el ancho que prefieras */
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 1000;
  }

  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
  }
  
  .cart-item img {
    width: 50px; /* Tamaño de la imagen */
    margin-right: 10px;
  }
  
  .cart-item div {
    flex-grow: 1;
  }
  
  .cart-item p {
    margin: 0;
    padding: 2px 0;
  }

  .remove-item-button {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 0.8rem;
    background-color: #80808042;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
  }
  
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }