@font-face {
    font-family: "Whisper";
    src: url("./Whisper-Regular.woff2") format('woff2'),
         url('./Whisper-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }