.nav__links{
    display: flex; /* Esto habilita flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si no hay espacio */
    margin: 14px; /* Equivalente a 'my-2' en Bootstrap */ /* Equivalente a 'my-2' en Bootstrap */
    gap:20px;
    list-style: none;
}