.main-content-images{
    width: 100%;
    height: 300px;
    /* background-color: pink; */
    border-radius: 600px;
    cursor: pointer;
}

.main-content-images-about-us{
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    /* background-color: pink; */
    border-radius: 600px;
    cursor: pointer;
}

.main-content-images:hover, .main-content-images-about-us:hover{
    transition: 4s ease forwards;   
}