@keyframes scaleUp {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
  }
  
  .animate {
    animation: scaleUp 1s forwards;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-right {
    animation: slideInFromRight 1 ease-out forwards;
  }